<fieldset id="p5">
  <h1>Utilización <br> del terreno</h1>
  <hr>

  <div class="field doble">
    <h3>Casa de:</h3>
    <div class="radio">
      <%= f.radio_button :ut_casa_de, 'un nivel', :class => "inline" %>
      <%= f.label :ut_casa_de_un_nivel, raw("Un Nivel: <span></span>") %>
    </div>  
    <div class="radio">
      <%= f.radio_button :ut_casa_de, 'dos niveles', :class => "inline" %>
      <%= f.label :ut_casa_de_dos_niveles, raw("Dos Niveles: <span></span>") %>
    </div>
    <div class="radio">
      <%= f.radio_button :ut_casa_de, 'tres niveles', :class => "inline" %>
      <%= f.label :ut_casa_de_tres_niveles, raw("Tres Niveles: <span></span>") %>
    </div>
    <div class="radio">
      <%= f.radio_button :ut_casa_de, 'cuatro niveles', :class => "inline" %>
      <%= f.label :ut_casa_de_cuatro_niveles, raw("Cuatro Niveles: <span></span>") %>
    </div>
    <div class="radio">
      <%= f.radio_button :ut_casa_de, 'oficina/local', :class => "inline" %>
      <%= f.label :ut_casa_de_oficinalocal, raw("Oficina / Local: <span></span>") %>
    </div>
    <div class="radio">
      <%= f.radio_button :ut_casa_de, 'terreno valdio', :class => "inline" %>
      <%= f.label :ut_casa_de_terreno_valdio, raw("Terreno Valdío: <span></span>") %>
    </div>
    <div class="radio">
      <%= f.radio_button :ut_casa_de, 'apartamento', :class => "inline" %>
      <%= f.label :ut_casa_de_apartamento, raw("Apartamento: <span></span>") %>
    </div>
    <div class="radio">
      <%= f.radio_button :ut_casa_de, 'otro uso', :class => "inline" %>
      <%= f.label :ut_casa_de_otro_uso, raw("Otro Uso: <span></span>") %>
    </div>
  </div>
  <div class="field doble last">
    <h3>Forma:</h3>
    <div class="radio">
      <%= f.radio_button :ut_forma, 'rectangular', :class => "inline" %>
      <%= f.label :ut_forma_rectangular, raw("Rectagular: <span></span>") %>
    </div>
    <div class="radio">
      <%= f.radio_button :ut_forma, 'cuadrada', :class => "inline" %>
      <%= f.label :ut_forma_cuadrada, raw("Cuadrada: <span></span>") %>
    </div>
    <div class="radio">
      <%= f.radio_button :ut_forma, 'triangular', :class => "inline" %>
      <%= f.label :ut_forma_triangular, raw("Triangular: <span></span>") %>
    </div>
    <div class="radio">
      <%= f.radio_button :ut_forma, 'quebrada', :class => "inline" %>
      <%= f.label :ut_forma_quebrada, raw("Quebrada: <span></span>") %>
    </div>
    <div class="clear"></div>
    <h3>Topografía:</h3>
    <div class="radio">
      <%= f.radio_button :ut_topografia, 'plana', :class => "inline" %>
      <%= f.label :ut_topografia_plana, raw("Plana: <span></span>") %>
    </div>
    <div class="radio">
      <%= f.radio_button :ut_topografia, 'inclinada', :class => "inline" %>
      <%= f.label :ut_topografia_inclinada, raw("Inclinada: <span></span>") %>
    </div>
    <div class="radio">
      <%= f.radio_button :ut_topografia, 'quebrada', :class => "inline" %>
      <%= f.label :ut_topografia_quebrada, raw("Quebrada: <span></span>") %>
    </div>
    <div class="field">
      <%= f.label :ut_inclinacion, 'Grado de inclinación' %>
      <%= f.text_field :ut_inclinacion, :class => "inline" %>
    </div>
    

  </div>

  <div class="field">
    <h3>Títulos de servicios:</h3>
    <div class="field doble radio-field">
      <%= f.label :ut_electricidad, "¿Energía eléctrica?" %>
      <div class="radio">
        <%= f.radio_button :ut_electricidad, true, :class => "inline" %>
        <%= f.label :ut_electricidad_true, raw("Si <span></span>") %>
      </div>
      <div class="radio">
        <%= f.radio_button :ut_electricidad, false, :class => "inline" %>
        <%= f.label :ut_electricidad_false, raw("No <span></span>") %>
      </div>
    </div>
    <div class="field doble radio-field">
      <%= f.label :ut_potable, "¿Agua potable?" %>
      <div class="radio">
        <%= f.radio_button :ut_potable, true, :class => "inline" %>
        <%= f.label :ut_potable_true, raw("Si <span></span>") %>
      </div>
      <div class="radio">
        <%= f.radio_button :ut_potable, false, :class => "inline" %>
        <%= f.label :ut_potable_false, raw("No <span></span>") %>
      </div>
    </div>
    <div class="field doble radio-field">
      <%= f.label :ut_lineas_telefonicas, "¿Línea telefónica?" %>
      <div class="radio">
        <%= f.radio_button :ut_lineas_telefonicas, true, :class => "inline" %>
        <%= f.label :ut_lineas_telefonicas_true, raw("Si <span></span>") %>
      </div>
      <div class="radio">
        <%= f.radio_button :ut_lineas_telefonicas, false, :class => "inline" %>
        <%= f.label :ut_lineas_telefonicas_false, raw("No <span></span>") %>
      </div>
    </div>
    <div class="field doble radio-field">
      <%= f.label :ut_drenaje, "¿Drenaje colectivo?" %>
      <div class="radio">
        <%= f.radio_button :ut_drenaje, true, :class => "inline" %>
        <%= f.label :ut_drenaje_true, raw("Si <span></span>") %>
      </div>
      <div class="radio">
        <%= f.radio_button :ut_drenaje, false, :class => "inline" %>
        <%= f.label :ut_drenaje_false, raw("No <span></span>") %>
      </div>
    </div>
    <div class="field doble radio-field">
      <%= f.label :ut_fosa, "¿Fosa séptica?" %>
      <div class="radio">
        <%= f.radio_button :ut_fosa, true, :class => "inline" %>
        <%= f.label :ut_fosa_true, raw("Si <span></span>") %>
      </div>
      <div class="radio">
        <%= f.radio_button :ut_fosa, false, :class => "inline" %>
        <%= f.label :ut_fosa_false, raw("No <span></span>") %>
      </div>
    </div>
    <div class="field doble radio-field">
      <%= f.label :ut_internet, "¿Internet?" %>
      <div class="radio">
        <%= f.radio_button :ut_internet, true, :class => "inline" %>
        <%= f.label :ut_internet_true, raw("Si <span></span>") %>
      </div>
      <div class="radio">
        <%= f.radio_button :ut_internet, false, :class => "inline" %>
        <%= f.label :ut_internet_false, raw("No <span></span>") %>
      </div>
    </div>
    <div class="field doble radio-field">
      <%= f.label :ut_cable, "¿Cable?" %>
      <div class="radio">
        <%= f.radio_button :ut_cable, true, :class => "inline" %>
        <%= f.label :ut_cable_true, raw("Si <span></span>") %>
      </div>
      <div class="radio">
        <%= f.radio_button :ut_cable, false, :class => "inline" %>
        <%= f.label :ut_cable_false, raw("No <span></span>") %>
      </div>
    </div>
    <div class="field doble radio-field">
      <%= f.label :ut_otro_uso, "¿Otro uso?" %>
      <div class="radio">
        <%= f.radio_button :ut_otro_uso, true, :class => "inline" %>
        <%= f.label :ut_otro_uso_true, raw("Si <span></span>") %>
      </div>
      <div class="radio">
        <%= f.radio_button :ut_otro_uso, false, :class => "inline" %>
        <%= f.label :ut_otro_uso_false, raw("No <span></span>") %>
      </div>
    </div>
  </div>
  <div class="field doble">
    <%= label_tag(:ut_contador_luz, "Contador de Luz No.") %>
    <%= f.text_field :ut_contador_luz, :class => "inline" %>
  </div>
  <div class="field doble last">
    <%= label_tag(:ut_telefono, "Teléfono No.") %>
    <%= f.text_field :ut_telefono, :class => "inline" %>
  </div>
  <div class="field">
    <%= label_tag(:ut_contador_agua, "Contador de Agua o Titulo de derecho No.") %>
    <%= f.text_field :ut_contador_agua, :class => "full" %>
  </div>
  <div class="field">
    <%= f.label :ut_no_luz, "¿Porqué no tiene servicio de agua o luz?" %>
    <%= f.text_field :ut_no_luz, :class => "full" %>
  </div>
  <div class="field">
    <%= f.label :ut_servicios, "¿Sí tienen, de dónde provienen los servicios básicos?" %>
    <%= f.text_field :ut_servicios, :class => "full" %>
  </div>
  <div class="field">
    <%= f.label :ut_otros, "Otros:" %>
    <%= f.text_field :ut_otros, :class => "full" %>
  </div>

</fieldset>