  <div class="container">
    <div id="content">      
        <ul class="tabs">
          <li class="large current"><a href="#new">Ingresar Nuevo <i class="icon-new"></i></a></li>
          <li class="small"><a href="#recent">Recientes <i class="icon-recent"></i></a></li>
        </ul>
        <div id="new" class="tab">
          <%= form_for(@form_new) do |f| %>
          <aside id="sidebar">
            <%= render 'info', :f => f %>
            <ul>
              <li>
                <a href="#p1"><i class="icon-user"></i>Datos Personales</a>
              </li>
              <li>
                <a href="#p2"><i class="icon-sector"></i>Características del Sector</a>
              </li>
              <li>
                <a href="#p3"><i class="icon-access"></i>Acceso de Propiedad</a>
              </li>
              <li>
                <a href="#p4"><i class="icon-house"></i>Características de la Propiedad</a>
              </li>
              <li>
                <a href="#p5"><i class="icon-flag"></i>Utilización del terreno</a>
              </li>
              <li>
                <a href="#p6"><i class="icon-construct"></i>Características de la construcción</a>
              </li>
              <li>
                <a href="#p7"><i class="icon-people"></i>¿Quién habita en la Propiedad?</a>
              </li>
              <li>
                <a href="#p8"><i class="icon-paper"></i>Información Legal Adicional</a>
              </li>
            </ul>
          </aside>
          <section id="main-content">
            <div class="group-btns">
              <button class="prev"><i></i>Anterior</button>
              <button class="next">Siguiente<i></i></button>
            </div>
            <hr>
            <%= render 'p1', :f => f %>
            <%= render 'p2', :f => f %>
            <%= render 'p3', :f => f %>
            <%= render 'p4', :f => f %>
            <%= render 'p5', :f => f %>
          </section>
          <% end %>
        </div>

        <div id="recent" class="tab">
          fafdadaso
        </div>

     </div>
  </div>
