<!DOCTYPE html>
<html>
<head>
  <title>Sepresta</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header-bg">
	<div class="container">
		<header id="header">
			<h1>
				<%= link_to "Dashboard", root_path %>
			</h1>
			<div class="logout">
				<label>Alex Kachler</label>
				<input type="submit" value="Salir">				
			</div>
			<div id="logo">
				<%= image_tag("logo.png") %>
			</div>
		</header>
	</div>
</div>

<%= yield %>

<footer>
	<p>Diseño y desarrollo por Ziogama®</p>
</footer>

</body>
</html>
